<!DOCTYPE html>
<html>
<head>
  <title>Le Pied dans L'O</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Gallery", welcome_gallery_path %></li>
        <li><%= link_to "Tarifs", welcome_tarifs_path %></li>
        <li><%= link_to "Book", welcome_book_path %></li>
        <li><%= link_to "Contact", welcome_contact_path %></li>

    </ul>

<%= yield %>
  </div>
  
</body>
</html>
